.Header {
	background: silver;
	.content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		.logo {
			h1 {
				color: purple;
			}
		}
		.nav {
			ul {
				display: flex;
				gap: 30px;
				justify-content: center;
				align-items: center;
				li {
					a {
						color: black;
					}
				}
			}
		}
	}
}
